#selectActions {
    display:none;
    width:100%;
    padding-left:54px;
    padding-bottom:4px;
}

#mainActions {
    display:none;
    width:100%;
    padding-left:54px;
    padding-bottom:4px;
}

#zoomActions {
    width:100%;
    padding-left:54px;
    padding-top:4px;
}

#toolbar{
    width:172px;
    border: 1px solid;
    padding-left:20px;
}

#graph_container {
    border-width:1px;
    border-style:solid;
    border-color:black;
}

#graph {
    position:relative;
    width:100%;
    overflow:hidden;
    cursor:default;
    height: 675px;
}

#detail_container {
    width:400px;
    padding:20px;
    border: 1px solid;
    font-family: monospace;
    font-size: large;
}

#xml {
    height:100%;
    width:684px;
    display:none;
    border-style:none;
}

.mxToolbarMode {
    width: 70px;
}

h4 {
    font-weight: 600;
}
/*Slide Open*/
#slide_background {
    transition: all 0.3s 0.3s;
}
#slide,
#slide_wrapper {
    transition: all 0.3s ease-out;
}
#slide {
    transform: translateX(0) translateY(-40%);
}
.popup_visible #slide {
    transform: translateX(0) translateY(0);
}
/*Slide Open*/
#contact_popup_background {
    transition: all 0.3s 0.3s;
}
#contact_popup,
#contact_popup_wrapper {
    transition: all 0.3s ease-out;
}
#contact_popup {
    transform: translateX(0) translateY(-40%);
}
.popup_visible #contact_popup {
    transform: translateX(0) translateY(0);
}


.mxToolbarModeSelected
{
    width: 70px;
    height: 70px;
    border:2px #fdff00 solid !important;
    background-color: white !important;

    /*zooming image*/
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    position:relative;
    z-index:100;

    /*-webkit-box-shadow: -13px 10px 25px -2px rgba(0,0,0,1);*/
    /*-moz-box-shadow: -13px 10px 25px -2px rgba(0,0,0,1);*/
    /*box-shadow: -13px 10px 25px -2px rgba(0,0,0,1);*/
}

#page{
    margin: 0px auto;
}

#header{
    background-color: #e68d1a;
}

.suggest_img{
    width: 80px;
    padding-right: 10px;
}