#toolbar{
    width:120px;
}

.mxToolbarMode {
    width: 100px;
}


/*Slide Open*/
#slide_background {
    transition: all 0.3s 0.3s;
}
#slide,
#slide_wrapper {
    transition: all 0.3s ease-out;
}
#slide {
    transform: translateX(0) translateY(-40%);
}
.popup_visible #slide {
    transform: translateX(0) translateY(0);
}

body {
    font-size: 100%;
}